<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="static/lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

    <!-- google maps javascript -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="static/lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="static/cordova.js"></script>

    <!-- your app's js -->
	<script src="static/js/api.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>
 
  </head>
  <body ng-app="sf_bike_parking">
        <ion-header-bar class="bar-dark">
        	<h1 class="title">SF Bike Parking</h1>
        </ion-header-bar>
		<ion-nav-view animation="slide-left-right"></ion-nav-view>
  </body>
</html>
